/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2014, 9:45:35 PM
    Author     : minus
*/

body {
    background: #89c3eb;
    margin: 0;
    padding: 0;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

textarea:focus, input:focus{
    outline: 0;
}