    table
    {
    border-collapse:collapse;
    }
    
    .playerHolder{
        width: 10px;
    }
    
    .Controllers{
        background: url('../imgs/PlaybackControlls/set_main_trans.png') 0px 0px;
        display: inline-block; 
        border-width: 0px;


    }

    .Controllers:active{    
        display: inline-block; 
        border-width: 0px;
        border-color: white;
        
    }

    .ControllerContainer{
        width: content-box !important; 
        margin-right:  -10px; 
        margin-left:  -10px;
        display: inline;

    }

    [id*=previous]{
        background-position: -119px -130px; 
        width: 50px;
        height: 42px;

    }

    [id*=pause]{
        background-position: -196px -187px; 
        width: 50px;
        height: 42px;
    }


    [id*=end]{
        background-position: -16px -132px; 
        width: 50px;
        height: 42px;
    }


    [id*=start]{
       background-position: -70px -131px; 
        width: 50px;
        height: 42px;
    }

    [id*=play]{
        background-position: -65px -130px; 
        width: 50px;
        height: 42px;
    }

    [id*=stop]{
        background-position: -240px -188px; 
        width: 50px;
        height: 42px;
    }

    [id*=next]{
        background-position: -166px -131px; 
        width: 50px;
        height: 42px;
    }

    [id*=previous]{
       background-position: -119px -130px; 
        width: 50px;
        height: 42px;
    }

    input[type="checkbox"] {
        display:none;
    }
    
    input[type="checkbox"] + label span {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        
        cursor:pointer;
        width:42px;
        height:44px;
        background-position:-69px -240px;
        background-repeat:no-repeat;
        
    }
    
    input[type="checkbox"]:checked + label span {
        width:45px;
        height:45px;
        background-position:-123px -241px;
        
    }
