
/* slider root element */
.slider {
    background:#3C72E6 url(/media/img/gradient/h30.png) repeat-x 0 0;
    width:20px;
    height:400px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
      margin-left: auto;
    margin-right: auto;
    
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
/*    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;*/
}


.handle {
   margin-left: auto;
    margin-right: auto;
    background:#fff url(/media/img/gradient/h30.png) repeat-x 0 0;
    height:10px;
    width:40px;
    
    
    top:-12px;
    position:relative;
    display:inline-block;
    

}


.range {
    border:1px inset #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
